body , html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.post {
    height: fit-content;
    max-width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;

}

.container {
    width: fit-content;
    height: fit-content;
    box-shadow: .5px .5px 5px 2px grey;
    border-radius: 3px;
    margin: 10px 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .user {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    padding: 0 10px;
}

nav, .reaction, .info, .explanation, .view-comments, #timing, .comment-sec{
    padding-left: 10px;
}

nav #right-img{
    margin-right: 10px;
}

#acc-img {
    border: 2px solid red;
    border-radius: 50% 50%;
}

.post-img {
    position: relative;
    display: flex;
    align-items: center;

}

.post-img #post {
    z-index: 0;
}

.post-img #right-icon {
    position: absolute;
    left: 465px;
    bottom: 260px;
    z-index: 1;
}

#right-icon:hover {
    opacity: .85;
}

.reaction {
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reaction:last-child {
    margin-right: 10px;
}

.reaction img{
    padding-right: 5px;
}

#like {
   width: 40px;
   height: 40px; 
}

#react-comment, #send, #save {
    width: 36px;
    height: 36px; 
}

.info #img-likes {
    display: flex;
    align-items: center;
}

.likes-bold {
    font-weight: bold;
}

.explanation h4{  /* BURAYI AYARLA DAHA KOLAY YOLU VARDIR */
    float: left;
}

.view-comments a {
    color: #BD9C8E;
}

.view-comments, .explanation {
    margin-bottom: 10px;
}

.info #timing {
    color: #BD9C8E;
    font-size: 12px;
}

footer {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

textarea {
    margin-left: 10px;
    width: 480px;
    height: 25px;
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

a > .acc:hover, h4:hover {
    text-decoration: underline;
}

a .reaction-hover:hover {
    opacity: 0.5;
}   

